@import url('https://fonts.googleapis.com/css2?family=Solway:wght@700;800&display=swap');

::-webkit-scrollbar {
    width: 0px;
}

*  {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Solway', sans-serif;
    overflow-x: hidden;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 1% 4%;
    font-size: 1.5vw;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-icon img {
    width:  2vw;
}

.logo-img   {
    width: 3vw;
}

.logo-text {
    width: 8vw;
}

.navbar-link {
    float: left;
    font-size: 2vw;
}

.navbar-link ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-link li {
    list-style: none;
}

.navbar-link li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: black;
}

.navbar-icon ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-icon li {
    list-style: none;
}

.navbar-icon li a {
    text-decoration: none;
    padding: 1rem;
    display: block;
    color: gray;
    border-radius: 1rem;
}

.navbar-link li a:hover {
    color: #7E77FF;
}

.navbar-icon li a:hover {
    background-color: #7E77FF;
}

.toggle-button {
    position: absolute;
    top: 1%;
    right: 1%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 3em;
    height: 2.5em;
}

.toggle-button .bar {
    height: .5em;
    width: 100%;
    background-color: gray;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar{
        padding-top: 1vh;
    }

    .logo-img {
        width: 6vw;
    }

    .navbar-icon li a {
        text-decoration: none;
        padding: 0.5rem;
        display: block;
        color: gray;
        border-radius: 0.5rem;
    }

    .navbar-icon img {
        width:  3vw;
    }

    .logo-text {
        width: 15vw;
    }
    
    .toggle-button {
        display: flex;
    }

    .navbar-link {
        display: none;
        width: 100%;
    }

    .navbar-icon {
        position: absolute;
        top: 0;
        right: 10%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-link ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-link li {
        text-align: center;
    }

    .navbar-link li a {
        padding: .5rem 1rem;
    }

    .navbar-link.active {
        display: flex;
    }
}

/*Style for introsuction section*/
.intro {
    display: flex;
    background-color: #DFDEFF;
}

.intro-text {
    padding: 9% 4%;
}

.title {
    font-size: 5vw;
    font-weight: 800;
    margin: 0;
    color: #3F3D56;
}

.intro-body {
    font-size: 1.5vw;
}

.intro-button {
    font-family: 'Solway', sans-serif;
    padding: 1vw 1.5vh;
    font-size: 2vw;
    background-color: #7E77FF;
    border-radius: 20px;
    border: 0;
    color: white;
    cursor: pointer;
}

.intro-button:hover {
    color: #7E77FF;
    background-color: white;
}

.intro-img img{
    float: right;
    border-radius: 10% 0 0 10%;
}

@media (max-width: 1300px) {
    .intro {
        background-image: url('img/IntroPic.jpg');
        display: list-item;
        text-align: center;
        color: white;
        background-size: cover;
        background-position: center;
    }

    .intro .title {
        color: whitesmoke;
    }

    .intro-img img {
        display: none;
    }
}

/*How It Works*/

.center-title {
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.flex-how {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

.how-list li {
    font-size: 50px;
    color: #7E77FF;
    margin: 0;
    padding: 0;
}

.how-list li h3 {
    font-size: 1.5vw;
    font-weight: 800;
}

.how-list li p {
    font-size: 1vw;
    color: black;
}

@media (max-width: 1300px) {
    .flex-how {
        padding: 0 10%;
        display: flex;
    }
    
    .flex-how img {
        width: 40%;
    }

    .how-list li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .how-list li h3 {
        font-size: 2.5vw;
        margin: 1%;
    }
    
    .how-list li p {
        font-size: 1.5vw;
        color: black;
    }
    
}

/*Component Section*/
.component {
    background-color: #DFDEFF;
}

.component-container {
    padding: 8% 10%;
    display: grid;
    column-gap: 2%;
    justify-content: center;
    row-gap: 1%;
    grid-template-columns: auto auto auto;
}

.card-item img{
    width: 50%;
}

.card-item {
    border-radius: 30px;
    border: 3px solid #7E77FF;
    padding: 5%;
    font-size: 30px;
    background-color: white;
    text-align: center;
    cursor:pointer;
}

.card-item h3 {
    color: #7E77FF;
    font-size: 2vw;
}

@media (max-width: 1000px) {
    .component-container {
       display: list-item;
       padding: 5% 15%;
    }

    .card-item {
        display: flex;
        margin: 3%;
        width: 100%;
        justify-content: center;
        height: fit-content;
        padding: 0;
    }

   .card-item img {
       display: none;
   }

   .card-item h3 {
    color: #7E77FF;
    font-size: 2vw;
}
}

/*Offers*/

.flex-offer {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-top: 3%;
    margin-bottom: 10%;
    align-items: center;
}

.flex-offer img {
    width: 50%;
}

.flex-offer h3 {
    color: #7E77FF;
    font-size: 2.7vw;
}

.flex-offer p {
    font-size: 1.2vw;
}

.text-right {
    text-align: right;
}

@media (max-width: 1300px) {
    .flex-offer{
        display: flex;
        padding: 0 4%;
    }

     .flex-offer img {
        width: 50%;
        height: 50%;
        align-items: center;
     }

    .flex-offer h3 {
        font-size: 3vw;
    }

    .flex-offer p {
        font-size: 2vw;
    }
 }

 /*Footer*/
.main-footer {
    padding: 2% 10%;
    background-color: #DFDEFF;
}

 .footer-container {
     display: grid;
     grid-template-columns: 35% auto auto auto;
     column-gap: 3%;
 }

 .footer-logo {
    display: flex;
    align-items: center;
 }

 .footer-logo .logo-img {
     width: 3vw; 
     padding-right: 1%;
 }

 .footer-logo .logo-text {
    width: 15vw;
}

.footer-item {
    text-align: left;
}

 .footer-item li {
     list-style: none;
 }

 .footer-item h3 {
     font-size: 1.5vw;
     margin: 0;
     color: #7E77FF;
 }

 .footer-item p, .footer-item span {
    font-size: 1vw;
    margin: 2px;
}

.footer-item a{
    display: inline-block;
    color: var(--black);
    font-size: 1vw;
    text-decoration: none;
}

.footer-item a{
    display: block;
}

.footer-item i{
    margin-right: 0.2vw;
    width: 1vw;
}

.footer-item .twitter-fb, .footer-item .contact-info{
    display: block;
}

.footer-item a:hover, .footer-item .twitter-fb span:hover{
    color: #7E77FF;
    cursor: pointer;
}

.footer-end {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #7E77FF;
    padding: .5% 0;
    font-size: 1.5vw;
    color: white;
}

.footer-item i {
    font-size: 1.5vw;
    margin-right: .8rem;
}

.footer-item .twitter-fb {
    display: flex;
    align-items: center;
}

.footer-item .contact-info {
    display: flex;
    align-items: center;
}

@media (max-width: 1000px){
    .footer-container .footer-item {
        grid-template-columns: 35% auto;
    }

    .footer-item i {
        margin-right: .2rem;
    }
}
